body {
  font-family: "Tajawal";
  background: linear-gradient(90deg, #041832 27.26%, #3468a7 96.03%);
}

.container {
  background: #f7f7f7;
  margin: 49px 90px;
  border-radius: 20px;
  padding: 30px 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #1c1c1c;
}

header {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil img {
  border-radius: 460px;
  max-width: 170px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.title {
  margin-left: 16px;
}

.title h1 {
  font-size: 36px;
  font-weight: 500;
}

.title h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 300;
}

.theme button {
  align-self: flex-end;
  font-size: 15px;
  border: 2px solid #0e1d2f;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 8px 16px;
}
.projetos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  padding: 8px 54px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}
.projetos li {
  list-style: none;
  font-size: 24px;
  font-weight: 300;
}
/* ------ DARK MODE ------*/
.dark {
  background: linear-gradient(90deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
}

.dark header {
  color: #f6f6f6;
}

.dark .theme button {
  background: #1c1c1c;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
}